---
import ModeSwitch from "./ModeSwitch.astro";
import HamburgerButton from "./HamburgerButton.astro";
import Navigation from "./Navigation.astro";
import SocialIcon from "./SocialIcon.astro";
import config from "../../config.ts";
---

<div
  class="navigation flex-1 hidden absolute top-0 left-0 w-full bg-white dark:bg-dark transition-all duration-300 p-7 pt-[112px] z-10 shadow-2xl"
  id="navigation_wrapper"
>
  <Navigation />
</div>
<header
  class="container mx-auto max-w-screen-lg px-7 py-10 bg-white flex items-center justify-between transition-all duration-300 dark:bg-dark relative z-20"
>
  <div class="navigation flex-1 hidden md:block">
    <Navigation />
  </div>

  <div class="list-none font-normal items-center gap-6 hidden md:flex md:mr-5">
    <SocialIcon socialUrl={config?.SOCIAL?.GITHUB} socialType="github" />
    <SocialIcon socialUrl={config?.SOCIAL?.LINKEDIN} socialType="linkedin" />
    <SocialIcon socialUrl={config?.SOCIAL?.TWITTER} socialType="twitter" />
    <SocialIcon socialUrl={config?.SOCIAL?.EMAIL} socialType="email" />
  </div>

  <div class="flex w-full md:w-auto justify-between items-center">
    <div class="md:hidden">
      <HamburgerButton />
    </div>
    <div>
      <ModeSwitch />
    </div>
  </div>
</header>
