---
import { Icon } from "astro-icon";

const { socialUrl = false, socialType } = Astro.props;
---

{
  socialUrl && (
    <li>
      <a href={socialUrl} target="_blank" aria-label={socialType + "link"}>
        <Icon
          name={socialType}
          class="w-auto h-5 transition-all duration-300 fill-primary/60 hover:fill-secondary dark:fill-white dark:hover:fill-accent opacity-60"
        />
      </a>
    </li>
  )
}
