---
import Base from "../layouts/Base.astro";
import LatestPosts from "../components/note/LatestNotes.astro";
import Intro from "../components/general/Intro.astro";
---

<Base>
	<main>
		<Intro />
		<LatestPosts />
	</main>
</Base>
